.center {
  margin: auto;
}
.content {
  width: 98%;
  padding: 10px;
  margin: auto;
}
.paperBadge {
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.badge {
  min-width: 100px;
  padding: 5px;
  margin: 5px;
}
.cardBody {
  padding: 10px;
  margin: 0;
}
.chats {
  margin-top: 10px;
  max-height: 75vh;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
